appdirs == 1.4.3
astroid == 2.3.1
attrs == 19.2.0
black == 19.3b0
Cerberus == 1.3.1
Click == 7.0
Django == 2.2.10
entrypoints == 0.3
flake8 == 3.7.8
import-string == 0.1.0
isort == 4.3.21
lazy-object-proxy == 1.4.2
mccabe == 0.6.1
pep8 == 1.7.1
Pillow == 6.2.0
pip == 19.2
#pkg-resources ##cannot find any 
pycodestyle == 2.5.0
pyflakes == 2.1.1
PyJWT == 1.7.1
pylint == 2.4.2
pytz == 2019.2
qrcode == 6.1
setuptools == 39.0.1
six == 1.12.0
sqlparse == 0.3.0
toml == 0.10.0
typed-ast == 1.4.0
webstack-django-jwt-auth == 1.1.2
wrapt == 1.11.2
